APP_DOMAIN=api.185-246-217-69.sslip.io
PUBLIC_APP_URL=https://errorperc.github.io/sakura-vape-miniapp/

POSTGRES_DB=sakura_vape
POSTGRES_USER=sakura
POSTGRES_PASSWORD=replace_with_random_hex_password

TELEGRAM_BOT_TOKEN=replace_with_bot_token
MANAGER_TELEGRAM_ID=7091548834
ADMIN_TELEGRAM_ID=7091548834
PORT=4000
