{$APP_DOMAIN} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
	}

	@api path /api/*
	handle @api {
		reverse_proxy api:4000
	}

	handle {
		root * /srv/app
		try_files {path} /index.html
		file_server
	}

	log {
		output stdout
		format console
	}
}
