{$APP_DOMAIN} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
	}

	@api path /api/*
	handle @api {
		reverse_proxy api:4000
	}

	handle {
		redir {$PUBLIC_APP_URL} 302
	}

	log {
		output stdout
		format console
	}
}
